<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>Listar todos los post {{posts|length}}</h3>
  <ul>
    {%for post in posts%}
    <li>{{post.titulo}}</li>
    {%endfor%}
  </ul>

  <hr>

  <h3>Listar todo los post que tengan Type en el titulo</h3>
  <ul>
    {%for post in filtro%}
    <li>{{post.titulo}}</li>
    {%endfor%}
  </ul>

  <h3>Consultar un unico registro</h3>
  {{post.fecha}} - {{post.titulo}}

  <hr>

  <h3>Limite en la consulta {{limit|length}}</h3>

  <hr>

  <h3>Total resultados: {{limit2|length}} </h3>

  <hr>

  <h3>Registros ordenados</h3>
  <ul>
    {%for post in orden%}
    <li>{{post.cuerpo}}</li>
    {%endfor%}
  </ul>

  <hr>

  <h3>Obtener los menores a 20 {{menor|length}}</h3>
  <ul>
    {%for post in menor%}
    <li>{{post.id}}</li>
    {%endfor%}
  </ul>

</body>

</html>